{% extends "base.html" %}
{% block extrahead %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ 'assets/stylesheets/bmob.css' | url }}">
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ 'assets/javascripts/bmob-toc.js' | url }}"></script>
  <script src="{{ 'assets/javascripts/bmob-nav.js' | url }}"></script>
{% endblock %}
